<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Python</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./Py/w3.css">
<link rel="stylesheet" href="./Py/css">
<link rel="stylesheet" href="./Py/css(1)">
<link rel="stylesheet" href="./Py/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Header -->
<div background="Py/py.jpg" id="image1" class="w3-container w3-red w3-center" style="padding:128px 16px">
  <p id = "heading1">Python - A readability focused language</p>
  <p class="w3-xlarge">Python is a high-level, general-purpose programming language. It can be used for creating software, games, webpages and web apps. It is also used in Machine learning. Its design philosophy emphasizes on  code readability with the use of significant indentation. It’s easier syntax compared to others make it popular.</p>
  <a href="#id_get_started"><button id="get_start" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button></a>
</div>

<!-- First Grid -->
<div id="first" class="w3-row-padding w3-padding-64 w3-container">

  <div class="w3-content">
    <div class="w3-twothird">
      <h1 id="id_get_started"><b>How to get started as a Python Developer</b></h1>
      <h5 class="w3-padding-32">
        <ul>
  <li id="basic_py">Learn Basic Python</li><br>
          <li id="advance_py">Advancing in Python</li>
          <ul>

          <li>
    Web Development
          <ul>
  <li>Flask - For minimal Web site building</li>
            <li>Django - For advanced web apps and site building</li></ul>
  <li>Ethical Hacking</li>

          <li>Machine learning</li>
          <li>Data Science</li>
            <li>App Development and Game Development</li>
          </ul></ul></h5><br><br>

      <h1 id="id_get_started2"><b>Is it worth to learn Python</b></h1><br>
      <h5>Yes, according to stackoverflow survey 2022. Python is fourth most popular language. But, it’s a different picture for those learning to code. HTML/CSS, Javascript and Python are almost tied as the most popular languages for people learning to code. People learning to code are more likely than Professional Developers to report using Python (58% vs 44%), C++ (35% vs 20%), and C (32% vs 17%).</h5>
      <br><br><br>
      <img id="img2" src="Py/stack_survey.png">
    </div>

    <div class="w3-third w3-center">

    </div>
  </div><center><img id="img1" src="Py/py_work4.jpg"></center>
</div>

<!-- Second Grid -->
<div id="second" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1><b>Python Basics</b></h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div id="third" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
        <h1><b>Web Development with Python's <a href="https://www.djangoproject.com/">Django</a> Framework</b></h1>
        <h6>Visit official website- <a href="https://www.djangoproject.com">https://www.djangoproject.com</a></h6>

     <!-- <h5 class="w3-padding-32"></h5>--!>

      <p class="w3-text-grey">Django is a popular web framework for building web applications using the Python programming language. Here is a possible roadmap to follow for learning and mastering Django:
<ul>
<li>Python fundamentals and Django basics: Learn the basics of Django, including how to install and set up Django, create a new project, and create a new application within a project. Understand how Django's URL routing system and views work, and how to use Django's template language to render HTML.Before starting with Django, it is essential to have a solid foundation in the Python programming language. Make sure you understand the basics of Python, including data types, control structures, functions, and object-oriented programming.

<li>Django models and databases: Learn how to define Django models and create database tables based on those models using Django's ORM (Object-Relational Mapping). Understand how to use Django's built-in database migration system to make changes to your database schema.

<li>Django forms: Learn how to use Django's forms to handle user input and validation. Understand how to use Django's built-in form fields and how to create custom form fields.

<li>Django authentication and authorization: Learn how to use Django's built-in authentication and authorization system to handle user authentication and permissions. Understand how to use Django's built-in login and logout views and how to create custom authorization rules.

<li>Django templates and static files: Learn how to use Django's template language to create dynamic HTML templates. Understand how to use Django's static file management system to serve static files such as CSS, JavaScript, and images.

<li>Django middleware and signals: Learn how to use Django's middleware system to add functionality to the request/response processing pipeline. Understand how to use Django's signals system to respond to various events that occur during the lifecycle of a Django application.

<li>Django REST framework: Learn how to use Django's REST framework to create RESTful APIs for your Django applications. Understand how to use Django's serializers to convert Django models to JSON and back, and how to use Django's class-based views to handle API requests.

<li>Django testing: Learn how to write unit tests and integration tests for your Django applications using Django's built-in testing framework. Understand how to use Django's test client to simulate user requests and test your views and forms.

<li>Advanced topics: Once you have a solid understanding of the basics of Django, you can start exploring more advanced topics such as caching, asynchronous programming, performance optimization, and deployment.

Remember that this roadmap is just a suggestion, and there are many ways to learn and master Django. The most important thing is to practice, experiment, and build real-world projects using Django to gain hands-on experience.</p><br><br>
    </ul></div>

    <div class="w3-third w3-center">
      <img id="django_img" src="Py/download.png">
    </div>
  </div><center><img src="Py/Django.png"></center>

</div>

<!-- Third Grid 2 -->
<div id="third" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b>Web Development with Python's Flask Framework</b></h1>

        <h6>Visit official website- <a href="https://flask.palletsprojects.com/en/2.3.x/">https://flask.palletsprojects.com/en/2.3.x/</a></h6>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
    </div>

    <div class="w3-third w3-center">

    </div>
  </div>


</div>

<!-- Fourth Grid -->
<div id="fourth" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1><b>Ethical Hacking with Python</b></h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
    </div><img id="img3" src="Py/ethical_python.jpg">
  </div>
</div>

<!-- Fifth Grid -->
<div id="third" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b>Machine Learning</b></h1>

        <h6>Visit official website- <a href="https://flask.palletsprojects.com/en/2.3.x/">https://flask.palletsprojects.com/en/2.3.x/</a></h6>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
    </div>

    <div class="w3-third w3-center">

    </div>
  </div>


</div>

<!-- Sixth Grid -->
<div id="fourth" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1><b>Data Science</b></h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
    </div><img id="img3" src="Py/ethical_python.jpg">
  </div>
</div>


<!-- Seventh Grid -->
<div id="third" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b>App Development and Game Development</b></h1>

        <h6>Visit official website- <a href="https://flask.palletsprojects.com/en/2.3.x/">https://flask.palletsprojects.com/en/2.3.x/</a></h6>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
    </div>

    <div class="w3-third w3-center">

    </div>
  </div>


</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer id="footer" class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="" target="_blank">TEAM NULL</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>