@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Colours and styling */

:root{
    --PrimaryColour:hsl(199, 100%, 33%);
    --SecondaryColour:hsl(187, 85%, 43%);
    --gradientColour:linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
    --whiteColour: hsl(0,0%,100%);
    --blackColour: hsl(201,33%,16%);
    --textColour:hsl(240, 4%, 36%);
    --whiteColourDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190,190,190);
    --inputColour:rgb(239,239,239);
    --bpdyColour:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
   
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    background:var(--gradientColour);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a{
    /* background: var(--whiteColour); */
    font-weight: 500;
}

.btn:hover{
    background: var(--SecondaryColour);
}

img,video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

body{
    background: var(--bpdyColour);
}

@media screen and (min-width:1240px) {
    .container{
        width: 80% !important;
        margin: auto !important;
    }

    .section{
        padding: 6rem 0 4rem;
    }
}

@media screen and (min-width) {
    body{
        zoom:1.7
    }
}